body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --accent-color: #F2284F;
  --grey-color: #323232;
  --grey-light-color: #F7F7F7;
  --accent-green: #bedaaf;
  --accent-orange: #ffda94;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../public/SF-Pro-Text-Regular.otf");
}

* {
  font-family: "SF Pro Display";
  color: var(--grey-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-grey {
  color: var(--grey-color);
}

.text-grey-light {
  color: var(--grey-light-color);
}

.text-accent-green {
  color: var(--accent-green);
}

.text-accent-orange {
  color: var(--accent-orange);
}

.bg_grey_light {
  background-color: var(--grey-light-color);
}

.bg_grey {
  background-color: var(--grey-color);
}

.bg_accent {
  background-color: var(--accent-color);
}

.bg_orange {
  background-color: var(--accent-orange);
}

.bg_green {
  background-color: var(--accent-green);
}

.upper {
  font-size: 3.5rem;
}

/* SECTION 1 */

#header {
  margin-top: 20px;
  background-image: url("../public/img/pic_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
  height: 600px;
  display: compact;
}

#header-text {
  padding-left: 0;
  max-width: 600px;
  position: relative;
  margin-top: 320px;
  z-index: 10;
}

#main {
  padding: 20px 40px 50px;
}

#home_page p, #home_page h2 {
  margin: 0 ;
}

#header-text span,
#header-text h2 {
  background-color: white;
  padding: 20px 0 40px 50px;
  position: relative;
  z-index: 10;
}

#about_us_img {
  background-image: url("../public/img/pic_2.jpg");
}

#section_3_img {
  background-image: url("../public/img/pic_3.jpg");
}

#how_to_do_img {
  background-image: url("../public/img/pic_4.jpg");
}

#discover_img {
  background-image: url("../public/img/pic_5.jpg");
}

#about_us_img, #discover_img, #section_3_img, #how_to_do_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
}

#slug {
  border-top-right-radius: 20px;
  position: relative;
}

#slug:before {
  content: '';
  width: 65px;
  height: 50px;
  font-weight: bold;
  border: 20px solid white;
  position: absolute;
  bottom: 16px;
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 40px;
  right: -45px;
}

#digited_title {
  padding-bottom: 25px;
  width: 450px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#digited_title span {
  padding: 0;
  background-color: transparent;
}

#med_title:before {
  content: '';
  width: 75px;
  height: 91px;
  border: 35px solid white;
  position: absolute;
  bottom: 40px;
  border-bottom: 0;
  border-right: 0;
  border-radius: 65px 0 0 0;
  left: 315px;
}

#med_title {
  margin-top: -40px !important;
  border-color: white;
  background-color: yellow;
  padding-top: 0 !important;
  position: relative;
  width: 350px;
}

/* SECTION 2 */

#about_us h2 {
  padding: 0 !important;
}

#about_us p {
  font-size: 18px;
}

.card_secondary {
  padding: 20px 18px 20px 30px;
  border-radius: 15px;
  font-size: 18px;
  display: flex;
  min-height: 230px;
}

.card_custom {
  border-radius: 15px;
  background-color: var(--grey-light-color);
  padding: 20px 30px 50px 65px;
  min-height: 100px;
}

/* SECTION 3 */

#section_3_img h2,
#section_3_img p,
#section_3_img strong {
  color: white;
}

#section_3_img .upper {
  padding-left: 25px;
}

/* SECTION 5 */

#content_5 {
  margin: 0px 0 150px -20px;
  padding: 0px 0 30px 30px;
  border-radius: 0px 10px 10px 0;
}

#content_5 span,
#content_5 div,
#content_5 p {
  background-color: white;
  padding: 0 35px 0 45px;
  left: -75px;
  position: relative;
}

#content_5 span {
  border-top-right-radius: 20px;
  padding-top: 15px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

#content_5 div {
  border-top-right-radius: 20px;
  padding-bottom: 25px;
}

#content_5 p {
  border-bottom-right-radius: 20px;
  padding-bottom: 100px;
}

#content_5 span:before {
  content: '';
  width: 55px;
  height: 35px;
  font-weight: bold;
  border: 15px solid white;
  position: absolute;
  bottom: -15px;
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 50px;
  right: -40px;
}

/* BUTTON */

#sign_button {
  background-color: white;
  border-radius: 40px;
  padding: 3px 40px 3px 40px;
  margin-top: 250px;
  cursor: pointer;
  transform: translate(-5%, -5%);
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.34);
  border: 0;
}

#sign_button:before {
  content: '';
  background: var(--accent-color);
  height: 100%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  top: 0;
  right: 0;
  left: auto;
  border-radius: 40px;
}

#sign_button:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

#sign_button:hover span {
  color: white;
  font-weight: bold;
}

#sign_button span {
  position: relative;
  z-index: 1;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #header-text {
    margin-top: 340px;
  }
  #med_title:before {
    bottom: 35px;
    border: 30px solid white;
    border-bottom: 0;
    border-right: 0;
    left: 320px;
  }
}

@media (min-width: 1000px) {
  #content_5 span,
  #content_5 div,
  #content_5 p {
    top: 400px;
  }
}

@media (max-width: 1200px) {
  #about_us {
    padding: 20px 30px 50px 20px;
  }
}
@media (min-width: 1200px) {
  #content_5 span,
  #content_5 div,
  #content_5 p {
    top: 290px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  #content_5 span,
  #content_5 div,
  #content_5 p {
    top: 250px;
  }
  #header-text {
    margin-top: 365px;
  }
  #med_title:before {
    left: 270px;
    bottom: 25px;
    border: 30px solid white;
    border-bottom: 0;
    border-right: 0;
  }
  #digited_title {
    width: 380px;
  }
  #med_title {
    width: 300px;
  }
  .upper {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .upper {
    padding: 15px 10px;
  }
  .card_secondary {
    padding: 0px 18px 0px 30px;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  #header-text {
    margin-top: 380px;
  }
  #digited_title {
    width: 350px;
  }
  #med_title {
    width: 280px;
  }
  #med_title:before {
    bottom: 47px;
    border: 30px solid white;
    border-bottom: 0;
    border-right: 0;
    left: 250px;
  }
  #content_5 span,
  #content_5 div,
  #content_5 p {
    top: 250px;
  }
}

@media (max-width: 700px) {
  #header-text {
    margin-top: 400px;
  }
  #med_title:before {
    display: none;
  }
  #med_title, #digited_title {
    width: 310px;
  }
  #content_5 span,
  #content_5 div,
  #content_5 p {
    top: 250px;
  }
}

@media (max-width: 576px) {
  #content_5 span,
  #content_5 div,
  #content_5 p {
    left: -40px;
  }
  #main {
    padding: 10px 10px 50px;
  }
  .card_secondary {
    align-items: center;
  }
  #header-text {
    padding-left: 0;
    margin-top: 420px;
  }
  .card_custom {
    padding: 20px 15px 20px 30px;
    word-break: break-all;
  }
  .upper {
    font-size: 30px;
    word-break: normal;
  }
  #discover_img {
    padding-right: 0;
  }
  #slug {
    width: 100%;
  }
  #header-text {
    padding-right: 0;
  }
  #digited_title, #med_title {
    width: 100%;
  }
}



